.tip-selector {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 1rem;
    flex-direction: column;
    color: var(--light-area-font-midtone);
    
}

.tip-selector>div {
    border: 3px solid var(--panel-lines);
    border-radius: 5px;
    padding: 1rem;
    height: 15rem;
}

.button-panel {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    row-gap: 1.25rem;
    column-gap: 1.25rem;
}

.custom {
    width: 100%;
    border: 3px solid var(--panel-lines);
    max-width: 100%;
    margin: 0;
    text-align: center;
    border-radius: 5px;
}

.custom::placeholder{
    color: var(--light-area-font-midtone);

}

.selected {
    border-color: var(--light-area-font-midtone);
}


@media (min-width: 800px) {

    .tip-selector {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

}